/* Import the local font */
@font-face {
    font-family: govtagentbb;
    src: url(../fonts/govtagentbb.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #EFD7CA;
    color: #383D2E;
}

#hero-image {
    background-image: url('../images/hero-image.jpg');
    background-size: 100%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

#cover-text, #cover-text h2, #cover-text h3 {
    color: #EFD7CA;
    font-weight: normal;
}

#cover-text {
    
    font-size: 230%;
    font-family: govtagentbb;
    
    letter-spacing: 6px;
    
    top: 160px;
    left: 50px;

    position: absolute;
}