/* Import the local font */
@font-face {
    font-family: govtagentbb;
    src: url(../fonts/govtagentbb.ttf);
}

@font-face {
    font-family: govtagentbb_ital;
    src: url(../fonts/govtagentbb_ital.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #EFD7CA;
    font-family: Arial, Helvetica, sans-serif;
    color: #383D2E;
    margin: 0;
}

/* navigation links */

.topnav {
    overflow: hidden;
    background-color: #383D2E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.topnav a {
    float: left;
    display: block;
    color: #fff5f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #9c0d0d;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff5f0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero image and title */

#hero-image {
    background-image: url('../images/hero-image-small.jpg');
    background-size: 100%;
    /* background-position-y: 70%; */
    background-position: 0 1px;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

#cover-text,
#cover-text h2,
#cover-text h3 {
    color: #EFD7CA;
    font-weight: normal;
}

#cover-text {
    font-size: 230%;
    font-family: govtagentbb, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 6px;
    top: 160px;
    left: 50px;
    position: absolute;
}

#cover-text h3 {
    font-size: 87%;
    letter-spacing: 1px;
}

/* List indent */

#check-yourself ol{
    padding-left: 15px;
}

/* Responsiveness */

@media screen and (max-width: 1100px) {
    #hero-image {
        height: 500px;
    }

    #cover-text {
        font-size: 150%;
    }
}

@media screen and (max-width: 800px) {
    #hero-image {
        height: 400px;
    }

    #cover-text {
        letter-spacing: 4px;
        top: 190px;
        left: 30px;
        font-size: 110%;
    }
}

@media screen and (max-width: 660px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    #hero-image {
        height: 200px;
    }

    #cover-text {
        letter-spacing: 3px;
        top: 205px;
        left: 20px;
        font-size: 80%;
    }
}

/*------------------------------- */


/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    background-color: #705a4a;
    font-weight: bold;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.img {
    width: 100%;
    height: auto;
}

.line-break {
    border-color: #ddd0c7;
    border-style: ridge;
    border-width: 2px;

}

.column-text-headings {
    color: #EFD7CA;
    font-size: 30px;

}

.p-colour-text {
    color: #EFD7CA;
    letter-spacing: 0.5px;
}

.li-text-colour {
    color: #EFD7CA;
}

.ul-colour-text {
    color: #EFD7CA;
}

.h2-text {
    color: #383D2E;
}

.h3-colour-text {
    color: #EFD7CA;
}

.mid-h2 {
    color: whitesmoke;
}

.p-mid {
    color: #EFD7CA;
}

/* Left and right column */
.column.side {
    background-color: #EFD7CA;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


/* Style the footer */
.footer {
    background-color: #383D2E;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: whitesmoke;

}

.footer a:hover {
    color: goldenrod
}

.copyright {
    font-size: smaller;
    color: #EFD7CA;
}

/* Responsive layout - columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}